.layout {
  display: flex;
  min-height: 100vh;
}
 
.main {
  display: flex;
  flex-direction: column;
  width: 100%;  /* Ensure the main area takes the full width remaining */ 
  background-color: #2d5d94 ; /* Background color for the content */
  overflow-x: hidden; /* Prevent horizontal overflow */
}
 

 
.content {
  width: 75%; 
  flex: 1; 
  display: flex; 
  flex-direction: column;
  padding: 2rem;
  background-color: #6a6e79; /* Optional: Match the background */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
  margin-left: auto; 
  margin-right: auto;
}
